<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Home/css/home.css')}}">
    <title> Welcome </title>
</head>
<body>
    <!-- Adding the nav div -->
    <nav class="main_nav" id="main_nav">
        <nav class="left_nav" id="left_nav">
            <a class="nav_btn" href="/"> Home </a>
            <a class="nav_btn" href=""> About </a>
            <a class="nav_btn" href=""> Contact Us </a>
            <a class="nav_btn" href="/pressure"> Pressure Analysis </a>
            <a class="nav_btn" href="/temperature"> Temperature Analysis </a>
        </nav>
    </nav>

    <!-- Adding the Home Page Section -->
    <div class="first_div" id="first_div">
        <p class="steam_table_analysis"> Steam Table Prediction Using Tensorflow </p>
    </div>

    <!-- Adding the second div -->
    <div class="second_div" id="second_div">
        <h4 class="plot_header"> Pressure Model Inference Plot. </h4>
        <div class="pressure_plot" id="pressure_plot">
            <img id="pressure_plot_image" src="{{url_for('static', filename='Pressure/images/pressure_plot.png')}}" alt="pressure_model_plot" srcset="">
        </div> <br> 


        <h4 class="plot_header"> Temperature Model Inference Plot. </h4>
        <div class="temperature_plot" id="temperature_plot">
            <img id="temperature_plot_image" src="{{url_for('static', filename='Temperature/images/temp_plot.png')}}" alt="pressure_model_plot" srcset="">
        </div>

        <div class="temperature_plot" id="temperature_plot">
            <img id="model_image" src="{{url_for('static', filename='Pressure/images/plot.png')}}" alt="steam_tables_plot" srcset="">
        </div>
    </div>

    <!-- Adding the third div-->
    <div class="third_div" id="third_div">
        <h3 class="plot_header"> What Is Steam </h3>
        <p class="steam_para" id="steam_para"> 
            
            Steam can occur as in various forms depending on temperature and pressure. 
            Saturated steam is the steam in which water exists in both liquid and gaseous state, whereas 
            Superheated steam is the steam whose temperature is above vapourization point.

            <b class="bold_class"> Steam </b> is water in the gas phase. This may occur due to evaporation or due to boiling, where heat is applied until 
            water reaches the enthalpy of vaporization. <br> 
            Steam that is saturated or <b class="bold_class"> superheated </b> is invisible, however, steam often refers to wet steam, the visible mist or aerosol of water 
            droplets formed as water vapour condenses. <br> 

            Water increases in volume by 1,700 times at standard temperature and pressure, and this can change in volume, which can also 
            be converted into mechanical work by steam engines such as reciprocating piston type engines and steam turbines, which are a sub-group 
            of steam engines. 
        </p>

        <h3 class="plot_header" style="margin-bottom: 27px;"> Types Of Steam </h3>
       
        <p class="steam_para">
            <b class="bold_class"> Steam </b> is traditionally created by heating a boiler via burning coal and other fuels, but it is also possible to create steam 
            with solar energy. <br> 
            Water vapour that includes water droplets is described as <b class="bold_class"> Wet Steam</b>. As wet steam is heated further, the droplets evaporate, and 
            at a high enough temperature (which depends on the pressure) all of the water evaoprates and the system is in a <b class="bold_class"> Vapour-liquid Equilibrium </b>. <br> 

            When the steam has reached this Equilibrium point, it is reffered to as <b> Saturated Steam </b>. <br> 

            <b class="bold_class"> Superheated Steam </b> is the steam at a temperature higher than its <b class="bold_class"> boiling point </b> for the pressure, which only 
            occurs when all liquid water has evapourated or has been removed from the system. <br> 

            <b class="bold_class"> Steam Tables </b> contain termodynamic data from water and saturated steam and are often used by engineers and 
            scientists in design and operation of equipment where thermodynamic cycles involving steam are used. <br> 

            Additionally, <b class="bold_class">thermodynamic </b> phase diagrams for water, steam, such as a temperature-entropy diagram or a <b class="bold_class"> Mollier Diagram </b> shown above 
            may be useful. <br> 
            Steam charts are also used for analysis of thermodynamic cycles. 



        </p>

        <h3 class="plot_header"> What is <b class="bold_class"> saturated </b> steam ? </h3>
        <p class="steam_para">
            A saturated steam is the condition where gaseous and liquid water co-exist. The temperature at
            which this happens is called the saturation temperature and pressure at which this happens is 
            called the saturation pressure. 
            When we say that both phases of water co exist, it means that the liquid water is in a transition state. 
            <br> 
            The liquid water starts getting converted to gaseous state. If we decrease the temperature, the gas particles 
            will condense to become liquid, if we heat it further, then the saturated steam will become superheated steam. <br> 
        </p>

        <h3 class="plot_header"> Effect On Saturation Temperature With Changing Pressure </h3>
        <p class="steam_para">
            When we change the pressure of a system, the saturation temperature also changes. At lower pressure, the saturation 
            temperature is also less. For example, if we go to higher altitudes where the pressure is low, water will start boiling sooner. <br> 

            The enthalpy of a steam first increases with increasing pressure, after some point it starts decreasing with pressure. This change can be 
            represented on the <b> Mollier Diagram </b> <br>

        </p>
               

        <h3 class="plot_header"> What Is <b class="bold_class">Superheated </b> Steam </h3>
        <p class="steam_para"> 
            Superheated steam occurs when the temperature of the steam is raised above the vaporization point. In this state, all the liquid 
            particles turn into gas. <br> 

            <b class="bold_class"> Supreheated Steam </b> is steam at a temperature higher than its vaporization point at the <b  class="bold_class"> absolute </b> pressure 
            where the temperature is measured. 

            <b  class="bold_class">Superheated </b>b steam can there cool(lose its internal energy) by some amount resulting in a lowering of its temperature without changing it state 
            from a gas, to a mixture of <b  class="bold_class"> Saturated </b> vapor and liquid. <br> 

            <b class="bold_class">Superheated </b> steam and liquid water cannot coexist under thermodynamic equilibrium, as any additional heat simply evaporates more water and the steam will become saturated steam.
            However this restriction may be violated temporarily in dynamic (non-equilibrium) situations. To produce superheated steam in a power plant or for processes (such as drying paper) the saturated steam drawn from a boiler is passed through a separate heating device (a superheater) which transfers additional heat to the steam by contact or by radiation.

            The enthalpy of superheated steam is much higher than saturated steam for a given pressure and temperature. It can be shown on the 
            <b> Mollier Diagram </b> <br> 
        </p>
            

       
    </div>

    <!-- Adding the footer -->
    <footer class="main_footer_div">
        <footer class="f_footer">
            <ul>
                <li class="footer_header"> <a href=""> About </a></li>
                <li> <a href=""> FAQ </a></li>
                <li> <a href=""> Help Center </a></li>
                <li> <a href=""> Store </a></li>
                <li> <a href=""> Community </a></li>
                <li> <a href=""> Branding </a></li>
                <li> <a href=""> Report </a></li>
            </ul>

        </footer>

        <footer class="s-footer">
            <ul>
                <li class="footer_header"> <a href=""> Terms Of Service </a></li>
                <li> <a href=""> Product </a></li>
                <li> <a href=""> Privacy Policy </a></li>
                <li> <a href=""> Advertisment </a></li>
                <li> <a href=""> Website & Email </a></li>
                <li> <a href=""> Slack Community </a></li>
                <li> <a href=""> Machine Learning Analysis </a></li>
              
            </ul>
        </footer>

        <footer class="t-footer">
            <ul>
                <li class="footer_header"> <a href=""> Social Media </a></li>
                <li> <a href=""> Facebook </a></li>
                <li> <a href=""> Twitter </a></li>
                <li> <a href=""> Reddit </a></li>
                <li> <a href=""> Youtube </a></li>
                <li> <a href=""> Telegram </a></li>
                <li> <a href=""> Instagram </a></li>
            </ul>
        </footer>


        <footer class="language-footer">
            <ul>
                <li> 
                <p style="margin-bottom: 0px; margin-top: 0px;"> Choose a language </p> <br>
                    <select class="language-select" name="">
                      <option value="English"> English </option>
                      <option value="Russian"> Russian </option>
                      <option value="Spainish"> Spainish </option>
                    </select>
                </li> 
            </ul>
        </footer>
    </footer>
    <footer class="second_main_footer">
        <p class="footer_para"> ©2021 Blackbox Analytics Inc., All Rights Reserved | Terms | Privacy</p>
    </footer>

    
    <!-- adding javascript -->
    <script src="{{url_for('static', filename='Home/javascript/home.js')}}"></script>
</body>
</html>